[Desktop Entry]
Type=Application
Name=Electron Sample
Icon=electron
Exec=/opt/electron-sample/electron-sample
Categories=Development;GTK;
StartupNotify=true
